* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-section {
    width: 100%;
    height: 60rem;
}

.container-about-items {
    width: 74rem;
    height: 38rem;
    gap: 1.8rem;


}

.card-size {
    width: 36rem;
    height: 38rem;
    padding: 2rem;
    border-radius: 2rem;
    background: linear-gradient(237deg, #59FFB9 -30.09%, #326CFF 71.21%);
    overflow: hidden;
    position: relative;
}

.card-img-size {
    width: 32rem;
    height: 24rem;
}
.card-size .card-img-top {
    transition: transform 0.3s ease; /* Tambahkan efek transisi ke gambar */
}

.card-size:hover .card-img-top {
    transform: scale(1.05); /* Sesuaikan nilai scaling sesuai kebutuhan Anda */
}



.container-card-text {
    width: 32rem;
    height: 8rem;
    margin-top: 2.5rem;
}

.card-text1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.card-text2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-wrap: wrap;
    width: 32rem;
}

.container-card-nothumbnaill {
    width: 36rem;
    height: 38rem;
    border-radius: 2rem;
    
}

.card-1 {
    border-radius: 2rem;
    background: linear-gradient(237deg, #59FFB9 -30.09%, #326CFF 71.21%);
    padding: 2rem;
}

.card-2 {
    border-radius: 2rem;
    background: linear-gradient(237deg, #59FFB9 -30.09%, #326CFF 71.21%);
    padding: 2rem;
    margin-bottom: 2.7rem;

}

.card-3 {
    height: 15rem;
    border-radius: 2rem;
    background: linear-gradient(237deg, #59FFB9 -30.09%, #326CFF 71.21%);
    padding: 2rem;
    margin-bottom: 2.7rem;
    gap: 1.8rem;
}

.card-3 .card-body img {
    transition: transform 0.5s ease; /* Misalnya, tambahkan transisi yang lebih lambat */
}

.card-3:hover .card-body img {
    transform: scale(1.1);
}

.card-title1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 36px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.card-body p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-textpromo{
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media only screen and (max-width: 768px) {
    .container-about-items {
        flex-direction: column; /* Ubah flex direction menjadi column saat layar kecil */
    }

    

    .card-size,
    .card-1,
    .card-2,
    .card-3 {
        max-width: 100%; /* Mengisi lebar sesuai dengan lebar layar pada layar kecil */
    }
}