.card-timestamp-size {
    width: 23.5rem;
    height: 23rem;
    overflow: hidden;
    position: relative;
}

.img-timestamp-size {
    object-fit: cover;
}

.card-img-top {
    border-radius: 12px;
}

.timestamp {
    width: 4rem;
    height: 1.5rem;
    border-radius: 5px;
    background: rgba(33, 36, 39, 0.50);
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    top: 0; 
    margin-right: 0.5rem;
    display: flex; 
    align-items: center; 
}

.timestamp h5 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-top: 0.2rem;
    margin-bottom: 0; 
    
}

.card,
.border-0 {
    border: none !important;
}

.card-title-timestamp {
    color: #212427 !important;
    font-family: Montserrat !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.card-text-timestamp{
    color: #6C6C6C !important;
    font-family: Montserrat !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}


