.footer-section {
    width: 100%;
    height: 23rem;
    background: #28A997;
    
}

.logo-size {
    width: 22rem;
    height: 9.5rem;
    margin-top: 1.8rem;
    margin-left: 2.4rem;
    font-variant: #FFF;
}

#coloredLogo {
    filter: brightness(0) invert(1);
}

.footer-container-text {
    width: 81.25rem;
    height: auto;
    margin-top: 1.8rem;
    gap: 6.25rem;
    

}

.footer-text p {
    width: 63rem;
    color: #FFF;
    font-family: Montserrat ;
    font-size: 16px;
    font-style: normal;
    font-weight: 100 !important;
    line-height: normal;
}

.footer-container-title{
    height: 1rem;
    width: auto;
    color: #FFF;
    margin-bottom: 1rem;
}

.logo-style{
    gap: 0.5rem;
}

.hr-style{
    width: 81.25rem;
    height: 0.1rem;
    color: #FFF;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.copyright{
 color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
letter-spacing: 0.08px;
width: 81.25rem;
    height: auto;
}