.gallery-section {
    width: 100%;
    height: 77rem;
}

.gallery-container {
    width: 66rem;
    height: 52.8rem;
    margin-top: 12rem;
}

.gallery-title {
    color: #212427;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.gallery-slider{
    width: 66rem;
    height: 37rem;
}

@media only screen and (min-width: 768px) {
    .gallery-section {
        height: 77rem;
    }

    .gallery-title {
        font-size: 2.25rem;
        line-height: normal;
        margin-bottom: 0;
    }
}