* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    width: 100%;
    height: 60rem;
    position: relative;
    background: url(../assets/img/Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container-items {
    position: absolute;
    margin-left: 9rem;
    margin-top: 17rem;
}


.event-logo-size {
    width: 42rem;
    height: 17rem;
}

@media only screen and (max-width: 768px) {
    .hero-section {
        text-align: center;
        background: url(../assets/img/Hero.png);
        background-size: cover;
        /* Mengisi layar dan mempertahankan rasio aspek */
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
    }

    .container-items {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    .event-logo-size {
        max-width: 100%;
    }
}