* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.hero-section {
    width: 100%;
    height: 60rem;
    position: relative;
    background: url(../assets/img/Hero.png);
}

.container-items{
    position: absolute;
    margin-left: 9rem;
    margin-top: 17rem;
}


.event-logo-size {
    width: 42rem;
    height: 17rem;
}


